/* navbar */
.navbar-inverse {
    background-color: #EEEEEE;
    border-color: none;
}
/* Title */
.navbar-inverse .navbar-brand {
    color: #510511;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #1E6E1E;
    
}
/* Link */
.navbar-inverse .navbar-nav > li > a {
    color: white;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #1E6E1E;
/*     text-decoration: underline; */
/*   -webkit-text-decoration-color: red; safari still uses vendor prefix */
/*   text-decoration-color: red; */
  border-bottom: 5px solid #333;
   
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* Caret */
.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-inverse .navbar-nav > .dropdown > a:hover .caret,
.navbar-inverse .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-inverse .navbar-nav > .open > a .caret,
.navbar-inverse .navbar-nav > .open > a:hover .caret,
.navbar-inverse .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* Mobile version */
.navbar-inverse .navbar-toggle {
    border-color: #DDD;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
          color: #333;
    }
}

body {
      position: relative; 
  }

.affix {
      bottom:0;
      right:0;
      left: 0;
      z-index: 200 !important;
  }
.navbar {
     margin: 20px;
}


.navbar-nav .dropdown-menu {
    background-color: #333;
    color: #FFF;
}
.navbar-nav .dropdown.open .dropdown-menu {
    background-color: #333;
    color: #BBB;
}

.navbarLinks {
  font-family: 'Playfair Display';
  line-height: .8;
  font-color:white;
  color:white;
  opacity: 1;
  font-weight: 100;
  font-size: 18px;
}


.dropdown-menu > li  {
	white-space: nowrap;
}



.dropdown-menu > li > a {
	 color: #FFF;
}

.dropdown-menu > li > a:hover {
    background-color: transparent;
    background-image: none;
    color: #1E6E1E;
    background-repeat: repeat-x;
     
}  

.navbar-nav>li>.dropdown-menu { 
	min-width: 100px;
	height: 0px;
    display: block;
    overflow: hidden;
    opacity:0;
	-webkit-transition: height 1s ease;
	-moz-transition: height 1s ease;
	-ms-transition: height 1s ease;
	-o-transition: height 1s ease;
	transition: height 1s ease;
}
	 
.navbar-nav>li.open .dropdown-menu {
    min-height: 100%;
    height: auto;
    opacity: 1;
}

