<div class="container" class="container-fluid">
	<div id="loader-wrapper">
		<div id="loader"></div>

		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>

	</div>
</div>

<div class="maindiv">

	<a class="back-to-top" style="display: none;" href="#">TOP</a>

	<div id="section1">
		<h2 class="section1Text blink_me">...where your photo can make you a <span class="emphasis">WINNER</span>! Find out your
		favorite photos and <span class="emphasis">TRAVEL</span> to where they were shot! </h2>
		<div id="floater"></div>
		<div class="container1" class="container-fluid">

			<form class="form-inline" action="/action">
				<input type="email" id="email" class="in-email"
					placeholder="your email address" name="email">
				<button type="button" class="btn btn-lg1 btn-success btn1">I
					want it!</button>
			</form>
			
		</div>
	</div>

	<div id="section2">
		<div class="container container-fuild">
			<!-- <div id="floater"></div> -->
			<div class="page-wrap">
				<div id="home-slider">
					<div class="swiper-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide swiper-slide-one">
								<div class="swiper-image" data-swiper-parallax-y="-20%">
									<div
										class="swiper-image-inner swiper-image-left swiper-image-one">
										<h1>
											Our <span class="emphasis">Community</span>. <br> <span>Of
												passionated photographers.</span>
										</h1>
										<div class="table-responsive"
											style="margin: auto; position: relative;">
											<table class="table table-borderless"
												style="border: 0px; height: 100%">
												<tbody>
													<tr>
														<td>
															<div class="sec2imgdiv">
																<img alt="" src="assets/images/perfilBL.png">
																<div class="imgoverlay">
																	<p class="textoverlay" style="margin-top: 30px;">Bruno
																		Lopes</p>
																	<button class="success textoverlay">see me
																		inside!</button>
																</div>
															</div>
														</td>
														<td></td>
														<td>
															<div class="sec2imgdiv">
																<img class="imgdiv" alt=""
																	src="assets/images/perfilAS.png">
																<div class="imgoverlay">
																	<p class="textoverlay" style="margin-top: 30px;">Alda
																		Soft</p>
																	<button class="success textoverlay"
																		style="font-size: 11px;">see me inside!</button>
																</div>
															</div>
														</td>
													</tr>
													<tr>
														<td>
															<div class="sec2imgdiv">
																<img class="imgdiv" alt=""
																	src="assets/images/perfilJA.png">
																<div class="imgoverlay">
																	<p style="font-size: 14px; margin-top: 30px;">John
																		Atlas</p>
																	<button class="success" style="font-size: 11px;">see
																		me inside!</button>
																</div>
															</div>
														</td>
														<td></td>
														<td>
															<div class="sec2imgdiv">
																<img class="imgdiv" alt=""
																	src="assets/images/perfil1.png">
																<div class="imgoverlay">
																	<p style="font-size: 14px; margin-top: 30px;">Not
																		Me</p>
																	<button class="success" style="font-size: 11px;">see
																		me inside!</button>
																</div>
															</div>
														</td>
													</tr>
													<tr>
														<td>
															<div class="sec2imgdiv">
																<img class="imgdiv" alt=""
																	src="assets/images/perfil1.png">
																<div class="imgoverlay">
																	<p style="font-size: 14px; margin-top: 30px;">Not
																		Me</p>
																	<button class="success" style="font-size: 11px;">see
																		me inside!</button>
																</div>
															</div>
														</td>
														<td style="width: 35%;"></td>
														<td>
															<div class="sec2imgdiv">
																<img class="imgdiv" alt=""
																	src="assets/images/perfilAS.png">
																<div class="imgoverlay">
																	<p style="font-size: 14px; margin-top: 30px;">Alda
																		Soft</p>
																	<button class="success" style="font-size: 11px;">see
																		me inside!</button>
																</div>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>

								<div class="swiper-image" data-swiper-parallax-y="35%">
									<div
										class="swiper-image-inner swiper-image-right swiper-image-two">
									<div class="table-responsive">
										<h2 class="textoverlay">Some of the international best
											awarded photographers and most traveler photographers are
											here with us! You can follow them, interact with them and
											their work and learn with their lessons, events and trips!</h2>
									</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide swiper-slide-two">
								<div class="swiper-image" data-swiper-parallax-y="-20%">
									<div
										class="swiper-image-inner swiper-image-left swiper-image-three">
										<h1>
											<span class="emphasis">The Judges</span>. <br> <span>A
												public choice too.</span>
										</h1>
										<div class="table-responsive"
											style="margin: auto; position: relative;">
											<table class="table table-borderless"
												style="border: 0px; height: 100%">
												<tbody>
													<tr>
														<td>
															<div class="sec2imgdiv">
																<img class="imgdiv" alt=""
																	src="assets/images/perfilBL.png">
																<div class="imgoverlay">
																	<p class="textoverlay">Bruno
																		Lopes</p>
																	<button class="success textoverlay">see me inside!</button>
																</div>
															</div>
														</td>
														<td></td>
														<td>
															<div class="sec2imgdiv">
																<img class="imgdiv" alt=""
																	src="assets/images/perfil1.png">
																<div class="imgoverlay">
																	<p style="font-size: 14px; margin-top: 30px;">Not
																		Me</p>
																	<button class="success" style="font-size: 11px;">see
																		me inside!</button>
																</div>
															</div>
														</td>
													</tr>
													<tr>
														<td>
															<div class="sec2imgdiv">
																<img class="imgdiv" alt=""
																	src="assets/images/perfilAS.png">
																<div class="imgoverlay">
																	<p style="font-size: 14px; margin-top: 30px;">Alda
																		Soft</p>
																	<button class="success" style="font-size: 11px;">see
																		me inside!</button>
																</div>
															</div>
														</td>
														<td></td>
														<td>
															<div class="sec2imgdiv">
																<img class="imgdiv" alt=""
																	src="assets/images/perfilJA.png">
																<div class="imgoverlay">
																	<p style="font-size: 14px; margin-top: 30px;">John
																		Atlas</p>
																	<button class="success" style="font-size: 11px;">see
																		me inside!</button>
																</div>
															</div>
														</td>
													</tr>
													<tr>
														<td>
															<div class="sec2imgdiv">
																<img class="imgdiv" alt=""
																	src="assets/images/perfil1.png">
																<div class="imgoverlay">
																	<p style="font-size: 14px; margin-top: 30px;">Not
																		Me</p>
																	<button class="success" style="font-size: 11px;">see
																		me inside!</button>
																</div>
															</div>
														</td>
														<td style="width: 35%;"></td>
														<td>
															<div class="sec2imgdiv">
																<img class="imgdiv" alt=""
																	src="assets/images/perfilAS.png">
																<div class="imgoverlay">
																	<p style="font-size: 14px; margin-top: 30px;">Alda
																		Soft</p>
																	<button class="success" style="font-size: 11px;">see
																		me inside!</button>
																</div>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
								<div class="swiper-image" data-swiper-parallax-y="35%">
									<div
										class="swiper-image-inner swiper-image-right swiper-image-four">
										<div class="table-responsive">
											<h2 class="textoverlay">
												Our team of new judges is entirely derived from a public
												choice. We only make sure that the photographers that can
												become JUDGES have accomplished some of our <a hreaf="#">
													requirements</a>, after that all the winper's have the power to
												decide who will become the next JUDGE.
											</h2>
										</div>

									</div>
								</div>
							</div>
							<div class="swiper-slide swiper-slide-three">
								<div class="swiper-image" data-swiper-parallax-y="-20%">
									<div
										class="swiper-image-inner swiper-image-left swiper-image-five">
										<h1>
											And	 <span class="emphasis">everyone</span>. <br> <span>
												All of you who desire to learn, enjoy, win, teach, travel
												and be more!</span>
										</h1>

										<div class="table-responsive"
											style="margin: auto; position: relative;">
											<table class="table table-borderless"
												style="border: 0px; height: 100%">
												<tbody>
													<tr>
														<td>
															<div class="sec2imgdiv">
																<img class="imgdiv" alt=""
																	src="assets/images/perfilBL.png">
																<div class="imgoverlay">
																	<p style="font-size: 14px; margin-top: 30px;">Bruno
																		Lopes</p>
																	<button class="success" style="font-size: 11px;">see
																		me inside!</button>
																</div>
															</div>
														</td>
														<td></td>
														<td>
															<div class="sec2imgdiv">
																<img class="imgdiv" alt=""
																	src="assets/images/perfilAS.png">
																<div class="imgoverlay">
																	<p style="font-size: 14px; margin-top: 30px;">Alda
																		Soft</p>
																	<button class="success" style="font-size: 11px;">see
																		me inside!</button>
																</div>
															</div>
														</td>
													</tr>
													<tr>
														<td>
															<div class="sec2imgdiv">
																<img class="imgdiv" alt=""
																	src="assets/images/perfil1.png">
																<div class="imgoverlay">
																	<p style="font-size: 14px; margin-top: 30px;">Not
																		Me</p>
																	<button class="success" style="font-size: 11px;">see
																		me inside!</button>
																</div>
															</div>
														</td>
														<td></td>
														<td>
															<div class="sec2imgdiv">
																<img class="imgdiv" alt=""
																	src="assets/images/perfilJA.png">
																<div class="imgoverlay">
																	<p style="font-size: 14px; margin-top: 30px;">John
																		Atlas</p>
																	<button class="success" style="font-size: 11px;">see
																		me inside!</button>
																</div>
															</div>
														</td>
													</tr>
													<tr>
														<td>
															<div class="sec2imgdiv">
																<img class="imgdiv" alt=""
																	src="assets/images/perfil1.png">
																<div class="imgoverlay">
																	<p style="font-size: 14px; margin-top: 30px;">Not
																		Me</p>
																	<button class="success" style="font-size: 11px;">see
																		me inside!</button>
																</div>
															</div>
														</td>
														<td style="width: 35%;"></td>
														<td>
															<div class="sec2imgdiv">
																<img class="imgdiv" alt=""
																	src="assets/images/perfil1.png">
																<div class="imgoverlay">
																	<p style="font-size: 14px; margin-top: 30px;">Not
																		Me</p>
																	<button class="success" style="font-size: 11px;">see
																		me inside!</button>
																</div>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>

									</div>
								</div>
								<div class="swiper-image" data-swiper-parallax-y="35%">
									<div
										class="swiper-image-inner swiper-image-right swiper-image-six">
										<div class="table-responsive">

											<h2>
												To grow, you need to learn something each day. There are
												many different ways to do it, here we let you to grow by <span
													class="emphasisSEC2">learning, sharing, compete,
													teaching, wining, losing, socializing</span> and also <span
													class="emphasisSEC2">traveling</span> to destinations never
												seen before. In the end we want you to learn by enjoying
												yourself with your own photographic work, it can be 'TOP X'
												photo or just a crappy photo.. who knows who is what ? <a
													class="emphasisSEC2btn" [routerLink]="['/register']">
													Join us </a> and find all about it!
											</h2>

										</div>

									</div>
								</div>
							</div>

						</div>
						<div class="swiper-pagination"></div>
					</div>
				</div>

			</div>
		</div>
		<h2 class="textHomeGen">
				... <a class="emphasisSEC2btn" [routerLink]="['/register']">join
					us</a>, A world wide community <br /> with <span class="emphasis">TALENTED</span>
				and <span class="emphasis">EXPERIENCED</span> professionals! Just..
				<span class="emphasis">FEEL</span> inspired!
			</h2>
	</div>

	<div id="section3">
		<!-- class="container" class="container-fluid" -->
		<!-- 		<p>{{appVar.slides[0].headlineFirstLine}}</p> -->
		<div id="secvue" class="container container-fuild">
			<div class="wrapper" v-cloak
				v-bind:class="{'is-previous': isPreviousSlide, 'first-load': isFirstLoad}">
				<div class="slide-wrapper" v-for="(slide, index) in slides"
					v-bind:class="{ active: index === currentSlide }"
					v-bind:style="{ 'z-index': (slides.length - index), 'background-image': 'url(' + slide.bgImg + ')' }">
					<div class="slide-inner">
						<div class="slide-bg-text">
							<div style="height: 200px">
								<div v-text="slide.headlineFirstLine"></div>
								<div v-text="slide.headlineSecondLine"></div>
							</div>
						</div>
						<div class="slide-rect-filter">
							<div class="slide-rect"
								v-bind:style="{'border-image-source': 'url(' + slide.rectImg + ')'}"></div>
						</div>
						<div class="slide-content">
							<h1 class="slide-content-text">
								<div v-text="slide.headlineFirstLine"></div>
								<div v-text="slide.headlineSecondLine"></div>
							</h1>
							<a class="slide-content-cta2">Its for me too!</a>
						</div>
						<div class="slide-content-text-center">
							<h2 v-text="slide.sideMessage"></h2>
						</div>
						<h2 class="slide-side-text">
							<span>
								<div v-text="slide.sublineFirstLine"></div>
							</span> <span>
								<div v-text="slide.sublineSecondLine"></div>
							</span>
						</h2>
					</div>
				</div>
				<div class="controls-container">
					<button class="controls-button" 
					    v-for="(slide, index) in slides"
						v-bind:class="{ active: index === currentSlide }"
						v-on:click="updateSlide(index)">
						<div v-text="slide.headlineFirstLine"></div>
						<div v-text="slide.headlineSecondLine"></div>
					</button>
				</div>
				<div class="pagination-container">
					<span class="pagination-item" 
						v-for="(slide, index) in slides"
						v-bind:class="{ active: index === currentSlide }"
						v-on:click="updateSlide(index)"></span>
				</div>
			</div>
		</div>
	</div>

	<div id="section4" class="textHomeGen">
	<h2 class="textHomeGen">
				... <a class="emphasisSEC2btn" [routerLink]="['/contexts4free']">Participate</a>
				and create new contests, <a class="emphasisSEC2btn" [routerLink]="['/vote']">vote</a>
				and <span class="emphasis">WIN</span> great awards from the greatest brands in the market and even cash!
			</h2>
			
		<div class="container container-fuild">

			<div class="table-responsive" style="margin-top: 50px">
				<table class="table table-borderless" style="border: 0px">
					<tbody>
						<tr>
							<td>
								<div class="sec4imgdiv">
									<img class="imgdivsec4"
										src="assets/images/img1.jpg" />
									<div class="imgoverlaysec4">
										<p class="imgoverlaysec4P">
											200F<br /> 
											500€ min. cash entry<br/>
											1000€ Awards non cash<br/>
											Top 10 winners <br/>
											0.5€ entry <br/>
											Juri <br/>

										</p>
										<button class="success">see
											me inside!</button>
									</div>
								</div>
							</td>
							<td>
							
							<div class="sec4imgdiv">
									<img class="imgdivsec4"
										src="assets/images/005.jpg" />
									<div class="imgoverlaysec4">
										<p class="imgoverlaysec4P">
											200F<br /> 
											500€ min. cash entry<br/>
											1000€ Awards non cash<br/>
											Top 10 winners <br/>
											0.5€ entry <br/>
											Juri <br/>

										</p>
										<button class="success">see
											me inside!</button>
									</div>
								</div>
								
							</td>
							<td>
							
							<div class="sec4imgdiv">
								<img class="imgdivsec4"
										src="assets/images/006.jpg" />
							
									<div class="imgoverlaysec4">
										<p class="imgoverlaysec4P">
											200F<br /> 
											500€ min. cash entry<br/>
											1000€ Awards non cash<br/>
											Top 10 winners <br/>
											0.5€ entry <br/>
											Juri <br/>

										</p>
										<button class="success">see
											me inside!</button>
									</div>
								</div>
								
							</td>
						
							<td>
							<div class="sec4imgdiv">
									<img class="imgdivsec4"
										src="assets/images/007.jpg" />
									<div class="imgoverlaysec4">
										<p class="imgoverlaysec4P">
											200F<br /> 
											500€ min. cash entry<br/>
											1000€ Awards non cash<br/>
											Top 10 winners <br/>
											0.5€ entry <br/>
											Juri <br/>

										</p>
										<button class="success">see
											me inside!</button>
									</div>
								</div>
								
							</td>
							<td>
								<div class="sec4imgdiv">
									<img class="imgdivsec4" 
										src="assets/images/008.jpg" />
									<div class="imgoverlaysec4">
										<p class="imgoverlaysec4P">
											200F<br /> 
											500€ min. cash entry<br/>
											1000€ Awards non cash<br/>
											Top 10 winners <br/>
											0.5€ entry <br/>
											Juri <br/>

										</p>
										<button class="success">see
											me inside!</button>
									</div>
								</div>
								</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div id="section5" class="textHomeGen">
		<h2
				style="text-align: center; font: 900 32px/1.9 'Gloria Hallelujah', sans-serif;">
				... Our <span class="emphasis">IMPACT</span> in the world!
			</h2>
			
		<div class="container">
			<div class="container-fluid">
				<div style="text-align: center">
					<div class="textSec5Align">
						<div id="vmap" style="width: 600px; height: 400px;"></div>
					
					<div class="textSec5Align">
						<p class="textSec5P">
							
							+ 100 contests / week <br/>
						    + 100K awards / week <br/>
							+ 50K cash awards / month <br/>
								+ 500M Votes <br/>
								+ 55M Photos <br/>
								+ 800K Active users <br/>
						</p>
						</div>
					</div>
						
					</div>
				</div>
		</div>
	</div>

	<div id="section6">
		<h2 style="text-align: center; font: 900 32px/1.9 'Gloria Hallelujah', sans-serif;color: white">
				... Go <span class="emphasis">social</span> see what they say about us!
			</h2>
		
		<div id="sec6Div" class="container" class="container-fluid">

			<div class="container">
				<div class="table-responsive" style="margin-left: 50px">
					<table class="table table-borderless" style="border: 0px">
						<tbody>
							<tr>
								<td style="float: right"><img class="imgsec6 " alt="oak4"
									src="assets/images/gosocial6.png" />  </td>
								<td></td>
								<td style="float: left">
								<a
									href="http://facebook.com" target="_blank	"> <img
										class="imgsec6" alt="oak	4" src="assets/images/gosocial7.png" />
								</a>
								</td>
							</tr>
							<tr>
								<td style="float: right">
								<img class="imgsec6" alt="oak4"
									src="assets/images/gosocial5.png" />
								</td>
								<td></td>
								<td style="float: left">
								<img class="imgsec6" alt="oak	4"
									src="assets/images/gosocial8.png" />
								</td>
							</tr>
							<tr>
								<td style="float: right"> <img
									class="imgsec6" alt="oak	4" src="assets/images/gosocial9.png" />
									
									</td>
								<td></td>
								<td style="float: left"><img
									class="imgsec6" alt="oak	4" src="assets/images/gosocial10.png" />

								</td>
							</tr>
							<tr>
								<td style="float: right"></td>
								<td></td>
								<td style="float: left">
								
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
<!-- 	<div id="section7"> -->
<!-- 		<h2 -->
<!-- 				style="text-align: center; font: 900 32px/1.9 'Gloria Hallelujah', sans-serif;"> -->
<!-- 			<span class="emphasisSEC7">...</span> You will <span -->
<!-- 				class="emphasisSEC7">learn</span>, <span class="emphasisSEC7">share</span>, -->
<!-- 			<span class="emphasisSEC7">invite</span>, <span class="emphasisSEC7">enjoy</span> -->
<!-- 			and <span class="emphasisSEC7">feel</span> it. <span -->
<!-- 				class="emphasisSEC7">Win</span>, <span class="emphasisSEC7">follow</span>, -->
<!-- 			<span class="emphasisSEC7">travel</span> and much more! -->
<!-- 			</h2> -->
<!-- 		<p class="sec7msg258"> -->
<!-- 			<span class="glyphicon glyphicon-thumbs-up"></span><span -->
<!-- 				class="emphasisSEC7"> Learn</span> how to improve. -->
<!-- 		</p> -->
<!-- 		<p class="sec7msg36"> -->
<!-- 			<span class="glyphicon glyphicon-thumbs-up"></span><span -->
<!-- 				class="emphasisSEC7"> Share</span> your know how with your -->
<!-- 			photographic shots, blog, events and trips. -->
<!-- 		</p> -->
<!-- 		<p class="sec7msg47"> -->
<!-- 			<span class="glyphicon glyphicon-thumbs-up"></span><span -->
<!-- 				class="emphasisSEC7"> Invite</span> everybody to enjoy your photos -->
<!-- 			and all you have to offer on this matter. -->
<!-- 		</p> -->
<!-- 		<p class="sec7msg258"> -->
<!-- 			<span class="glyphicon glyphicon-thumbs-up"></span><span -->
<!-- 				class="emphasisSEC7"> Enjoy</span> the way you can just use your -->
<!-- 			photos to express your self and let others do the same in a many -->
<!-- 			different ways. -->
<!-- 		</p> -->
<!-- 		<p class="sec7msg36"> -->
<!-- 			<span class="glyphicon glyphicon-thumbs-up"></span><span -->
<!-- 				class="emphasisSEC7"> Win</span> prizes, knowledge, awareness of -->
<!-- 			your self and the world and let your mind become a winner each day. -->
<!-- 		</p> -->
<!-- 		<p class="sec7msg47"> -->
<!-- 			<span class="glyphicon glyphicon-thumbs-up"></span><span -->
<!-- 				class="emphasisSEC7"> Follow</span> the greatest and your favorites, -->
<!-- 			photographers, photos, contests, events, trips and more -->
<!-- 		</p> -->
<!-- 		<p class="sec7msg258"> -->
<!-- 			<span class="glyphicon glyphicon-thumbs-up"></span><span -->
<!-- 				class="emphasisSEC7"> Travel</span> to where ? Yes to the right -->
<!-- 			place on planet earth where your favorite shots have been taken, -->
<!-- 			that's it! here you will find the right itineraries and all you need -->
<!-- 			to book them for your next trip! -->
<!-- 		</p> -->
<!-- 	</div> -->
	<div id="section8">
	<h2 class="textHomeGen">
		  <a class="emphasisSEC7btn"
				[routerLink]="['/register']"> Sign Up</a> for <span
				class="emphasisSEC7">FREE</span> and discover how to bring your photographic shoots to an <span
				class="emphasisSEC7">ICONIC</span> level. <span class="emphasisSEC7">Your</span> level!
			</h2>
			
	</div>

	<div id="myModal" class="modal fade">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">

				<!-- Header -->
				<div class="modal-header">
					<h1>Header</h1>
				</div>

				<!-- Body -->
				<div class="modal-body">
					<p>Body</p>
				</div>

				<!-- Footer -->
				<div class="modal-footer modal-footer--mine">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<nav class="navbar navbar-inverse" data-spy="affix">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"> <img alt=""
					src="assets/images/winpilogo2.png"
					style="width: 55px; height: 40px;    margin-top: -10px;">
				</a>
			</div>
			<div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav"> 
<!-- 					contestList -->
						<li><a [routerLink]="['']" class="navbarLinks">CONTESTS</a></li>
<!-- 						/photoList -->
						<li><a [routerLink]="['']" class="navbarLinks">PHOTOS</a></li>
<!-- 						vote -->
						<li><a [routerLink]="['']" class="navbarLinks">VOTE</a></li>
						<li class="dropup"><a class="dropup-toggle"
							data-toggle="dropdown" href="#" class="navbarLinks">HOW <span class="caret"></span></a>
							<ul class="dropdown-menu">
<!-- 							support -->
								<li><a [routerLink]="['']" class="navbarLinks">IT WORKS</a></li>
<!-- 								start -->
								<li><a [routerLink]="['']" class="navbarLinks">TO START</a></li>
							</ul></li>
					</ul>
					<ul class="nav navbar-nav pull-right">
<!-- 					login -->
						<li><a [routerLink]="['']" class="navbarLinks">LOGIN</a></li>
<!-- 						register -->
						<li><a [routerLink]="['']" class="navbarLinks">SIGN UP</a></li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
</div>
